@charset "UTF-8";
.material-icons {
  display: inline-block;
  overflow: hidden;
  overflow: clip;
  width: 1em;
  height: 1em;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 1em;
  vertical-align: middle;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  color: var(--mdColor1);
}

.material-icons.outlined {
  font-family: "Material Icons Outlined" !important;
}

.material-icons.round {
  font-family: "Material Icons Round" !important;
}

.md-small {
  font-size: 1.125rem !important;
  line-height: 1.125rem !important;
}

.md-medium {
  font-size: 1.5rem !important;
  line-height: 1.5rem !important;
}

.md-large {
  font-size: 2.25rem !important;
  line-height: 2.25rem !important;
}

.md-veryLarge {
  font-size: 3rem !important;
  line-height: 3rem !important;
}

.mdRelative-small {
  font-size: 1.125em !important;
  line-height: 1.125em !important;
}

.mdRelative-medium {
  font-size: 1.5em !important;
  line-height: 1.5em !important;
}

.mdRelative-large {
  font-size: 2.25em !important;
  line-height: 2.25em !important;
}

.mdRelative-veryLarge {
  font-size: 3em !important;
  line-height: 3em !important;
}

:root {
  --md-small: 1.125rem;
  --md-medium: 1.5rem;
  --md-large: 2.25rem;
  --md-veryLarge: 3rem;
  --md-negativeMargin: -0.1em;
}

:root {
  --goldenRatio: 1.61803398875;
  quotes: "“" "”";
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
:root.noAnim * {
  animation-duration: 0s !important;
  transition-duration: 0s !important;
}

body {
  margin: 0;
  padding: 0.01px;
  font-family: "Noto Sans Display", Arial, sans-serif;
  color: var(--textColor);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--titleTextColor);
}

h1 {
  margin-block: var(--gapSection3) var(--gapSection2);
}

h2 {
  margin-block: var(--gapSection1) var(--gapPair);
}

h3,
h4,
h5,
h6 {
  margin-block: var(--gapPair);
}

p {
  box-sizing: border-box;
  margin-block: var(--gapPair);
  max-width: var(--paragraphWidth-medium);
  min-width: var(--paragraphMinWidth-medium);
}

q {
  color: var(--textBoldColor);
}

blockquote {
  box-sizing: border-box;
  max-width: calc(var(--paragraphWidth-wide) - var(--gapPair));
  margin-block: var(--gapPair);
  margin-inline: var(--gapPair);
  padding-inline: 1.5rem;
  padding-block: 0.2rem;
  font-style: italic;
  color: var(--textGrayColor);
  border-left: 2px solid var(--contentColoredBorder1);
  background: var(--contentColoredBackground1);
}

.paragraph-thin {
  max-width: var(--paragraphMinWidth-thin);
}

.paragraph-medium {
  max-width: var(--paragraphMinWidth-medium);
}

.paragraph-wide {
  max-width: var(--paragraphMinWidth-wide);
}

dl {
  width: fit-content;
}
dl dt {
  margin: 0;
  font-weight: 500;
  color: var(--textBoldColor);
}
dl dd {
  margin: 0;
  padding-block: var(--gapWithinSubPair);
  padding-right: var(--containerPadding-fieldset);
  padding-left: var(--gapPair);
  margin-bottom: var(--gapPair);
}
dl dd::before {
  content: "navigate_next";
  display: inline-block;
  overflow: hidden;
  overflow: clip;
  width: 1em;
  height: 1em;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 1em;
  vertical-align: middle;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  font-size: var(--md-medium);
}

ol li,
ul li {
  max-width: var(--paragraphWidth-wide);
  margin-bottom: var(--gapWithinPair);
}

:focus-visible {
  outline: 2px dotted var(--focusColor1);
  position: relative;
  z-index: 100;
}

.fancyLink {
  --underlineColor1: var(--linkNormal);
  --underlineColor2: var(--linkVisited);
  --underlineHoverColor1: var(--linkHover1);
  --underlineHoverColor2: var(--linkHover2);
  display: inline;
  position: relative;
  text-decoration: none;
  background: linear-gradient(90deg, var(--underlineColor1, currentColor), var(--underlineColor2, currentColor)) 100% 100%/0% 2px no-repeat;
  transition: background-size 0.2s;
}
.fancyLink:hover, .fancyLink:focus-visible {
  background-size: 100% 2px;
  background-position: 0% 100%;
  background-image: linear-gradient(90deg, var(--underlineHoverColor1, var(--underlineColor1, currentColor)), var(--underlineHoverColor2, var(--underlineColor2, currentColor)));
}
.fancyLink:focus-visible {
  outline: 2px dotted currentColor;
}
@media (any-hover: none) {
  .fancyLink {
    text-decoration: underline;
    background: none !important;
  }
}

.fancyLink[target=_blank]::after {
  content: "open_in_new";
  display: inline-block;
  overflow: hidden;
  overflow: clip;
  width: 1em;
  height: 1em;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 1em;
  vertical-align: middle;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  font-family: "Material Icons Outlined";
  font-size: 0.9em;
  vertical-align: text-top;
}

.fancyLink.noUnderline {
  background-image: linear-gradient(90deg, var(--underlineColor1), var(--underlineColor2)), linear-gradient(transparent, transparent);
}

.fancyLink.noColor {
  --underlineColor1: currentColor;
  --underlineColor2: currentColor;
  --underlineHoverColor1: currentColor;
  --underlineHoverColor2: currentColor;
}

a {
  color: var(--linkNormal);
}

a:visited {
  color: var(--linkVisited);
}

a:hover,
a:focus-visible {
  color: var(--linkHover1);
}

.fancyLink:focus-visible:not(.noColor) {
  outline: 2px dotted currentColor;
}

.noLink:link {
  color: unset;
  background: unset;
  background-position: 0 0;
  background-size: 0 0;
}

.noUnderline {
  text-decoration: none;
}

a.documentLink:link {
  color: var(--documentColor1);
}

a.documentLink:visited {
  color: var(--documentVisitedColor1);
}

a.documentLink:hover,
a.documentLink:focus-visible {
  color: var(--documentHoverColor1);
}

a.documentLink.fancyLink {
  --underlineColor1: var(--documentColor1);
  --underlineColor2: var(--documentVisitedColor1);
  --underlineHoverColor1: var(--documentHoverColor1);
  --underlineHoverColor2: var(--documentHoverColor2);
}

.asideContent {
  margin-block: var(--gapPair);
  padding-inline: 0.6rem;
  padding-block: 0.4rem;
  margin-right: calc(var(--containerPadding-main) * -1);
  padding-right: var(--containerPadding-main);
  border-left: 2px solid var(--coloredTitleTextColor1);
  background-color: var(--contentBackground3);
}
.asideContent h1,
.asideContent h2,
.asideContent h3,
.asideContent h4,
.asideContent h5,
.asideContent h5 {
  font-size: 1.4rem;
}
.asideContent > :first-child {
  margin-top: 0;
}
.asideContent p {
  max-width: var(--paragraphWidth-thin);
}
.asideContent.float {
  float: right;
}

.withAsideColumn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: var(--gapPair) var(--gapSection1);
}
.withAsideColumn > * {
  max-width: 100%;
}
.withAsideColumn > * > :first-child {
  margin-top: 0;
}
.withAsideColumn > :first-child > :last-child {
  margin-bottom: 0;
}
.withAsideColumn > :nth-child(2) {
  align-self: center;
}
@media (min-width: 32rem) {
  .withAsideColumn {
    flex-direction: row;
  }
  .withAsideColumn > :nth-child(2) {
    align-self: flex-start;
  }
}

.wideParagraphs p {
  max-width: var(--paragraphWidth-wide);
}

.scrollDetector {
  width: 100%;
  height: 0;
}

.fancyAddress {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--gapWithinPair);
  width: fit-content;
  margin-block: var(--gapPair);
  padding: var(--containerPadding-medium);
  border: 2px solid var(--contentBorder1);
  border-radius: 0.4rem;
  background-color: var(--contentBackground1);
}
.fancyAddress > div {
  flex-grow: 1;
  align-self: stretch;
}
.fancyAddress::before {
  content: "signpost";
  display: inline-block;
  overflow: hidden;
  overflow: clip;
  width: 1em;
  height: 1em;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 1em;
  vertical-align: middle;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  font-family: "Material Icons Outlined";
  font-size: var(--md-medium);
  font-style: normal;
  color: var(--coloredTextColor1);
}

.fancyImage {
  overflow: auto hidden;
  overscroll-behavior-x: contain;
  width: 100%;
  max-width: 100%;
  border: 2px solid var(--contentBorder1);
  border-radius: 0.4rem;
}

.fancyFigure {
  overflow-x: auto;
  overscroll-behavior-x: contain;
  width: min-content;
  max-width: 100%;
  margin: 0;
  margin-block: var(--gapPair);
}
.fancyFigure .figBorder {
  overflow: hidden;
  display: flex;
  width: max-content;
  border: 2px solid var(--contentBorder1);
  border-radius: 6px;
  background: var(--contentBackground1);
}
.fancyFigure > :not(figcaption) {
  width: max-content;
}
.fancyFigure figcaption {
  max-width: var(--paragraphWidth-wide);
  width: 100%;
  display: block;
  margin-top: var(--gapWithinPair);
  font-size: 0.9em;
  text-align: center;
  color: var(--textGrayColor);
}
.fancyFigure.left {
  float: left;
}
.fancyFigure.right {
  float: right;
}

.fancyTable {
  overflow: clip;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  width: fit-content;
  max-width: 100%;
  outline: 2px solid var(--listBorder1);
  border-radius: 0.2rem;
}
.fancyTable table {
  border-collapse: collapse;
}
.fancyTable th,
.fancyTable td {
  padding-block: calc(var(--gapWithinPair) / 2);
  border: 2px solid var(--listBorder1);
  text-align: center;
}
.fancyTable th:first-child,
.fancyTable td:first-child {
  border-left-width: 0;
}
.fancyTable th {
  padding-inline: calc(var(--gapPair) / 2);
  font-weight: 600;
  color: var(--textBoldColor);
  background: var(--contentHeaderBackground1);
}
.fancyTable th a {
  display: inline;
  position: relative;
  text-decoration: none;
  background: linear-gradient(90deg, var(--underlineColor1, currentColor), var(--underlineColor2, currentColor)) 100% 100%/0% 2px no-repeat;
  transition: background-size 0.2s;
  --underlineColor2: var(--menuHoverTextColor2);
  color: inherit;
}
.fancyTable th a:hover, .fancyTable th a:focus-visible {
  background-size: 100% 2px;
  background-position: 0% 100%;
  background-image: linear-gradient(90deg, var(--underlineHoverColor1, var(--underlineColor1, currentColor)), var(--underlineHoverColor2, var(--underlineColor2, currentColor)));
}
.fancyTable th a:focus-visible {
  outline: 2px dotted currentColor;
}
@media (any-hover: none) {
  .fancyTable th a {
    text-decoration: underline;
    background: none !important;
  }
}
.fancyTable tr:nth-child(2n+1) td {
  background: var(--listBackground1);
}
.fancyTable tr:nth-child(2n+1) td {
  background: var(--listBackground2);
}
.fancyTable thead td:first-child,
.fancyTable thead th:first-child {
  border-right-width: 2px;
}
.fancyTable thead th {
  border-inline-width: 0;
}
.fancyTable thead tr:first-child td,
.fancyTable thead tr:first-child th {
  border-top-width: 0;
}
.fancyTable tbody th {
  border-block-width: 0;
}
.fancyTable tbody td {
  border-inline-width: 0;
}
.fancyTable tbody tr:last-child td,
.fancyTable tbody tr:last-child th {
  border-bottom-width: 0;
}

.blackLineArt {
  filter: invert(100%);
}

.columnImage {
  min-width: 15rem;
  width: var(--paragraphWidth-thin);
  max-width: 100%;
  height: auto;
}

.thinImage {
  min-width: 12rem;
  width: calc(var(--paragraphWidth-thin) * 0.7);
  max-width: 100%;
  height: auto;
}

.mediumImage {
  min-width: 18rem;
  width: var(--paragraphWidth-medium);
  max-width: 100%;
  height: auto;
}

.wideImage {
  min-width: 22rem;
  width: var(--paragraphWidth-wide);
  max-width: 100%;
  height: auto;
}

.columns {
  display: flex;
  flex-flow: row wrap;
  gap: var(--gapWithinPair);
}

.highlightList {
  list-style-type: none;
  padding-left: 0;
}
.highlightList li {
  font-weight: 600;
  font-style: italic;
  color: var(--textBoldColor);
}

.logo {
  --partWidth: calc(var(--width) - 0.5rem - 0.5rem * 2);
}
.logo a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
}
.logo a img {
  --subwidth: calc(
  	(var(--partWidth) * var(--goldenRatio)) /
  		(1 + var(--goldenRatio))
  );
  filter: invert(1);
  width: var(--subwidth);
  height: auto;
  aspect-ratio: 29/18;
}
.logo a .name {
  --factor: 0.281690140845;
  --subwidth: calc(var(--partWidth) / (1 + var(--goldenRatio)));
  font-size: calc(var(--subwidth) * var(--factor));
  font-family: "EB Garamond", "Times New Roman", serif;
  font-style: italic;
  font-weight: 400;
  color: var(--titleTextColor);
}

.rentTable {
  overflow-x: auto;
  overscroll-behavior-x: contain;
  background: var(--contentBackground1);
  max-width: 100%;
  width: fit-content;
  outline: 2px solid var(--contentBorder1);
  border-radius: 0.4rem;
}
.rentTable table {
  border-collapse: collapse;
}
.rentTable th {
  color: var(--textBoldColor);
}
.rentTable td {
  text-align: center;
}
.rentTable td.free {
  color: var(--textLowerColor1);
  background: var(--highlightColorContentBackground5);
}
.rentTable td.medium {
  font-style: italic;
}
.rentTable td.high {
  font-weight: 600;
}
.rentTable th,
.rentTable td {
  padding-inline: calc(var(--gapWithinPair) / 2);
  border: 0 solid var(--contentBorder1);
}
.rentTable tr.seperator td {
  padding-block: calc(var(--gapPair) / 2);
  padding-inline: 0;
}
.rentTable tr.seperator td:nth-child(2) {
  border-inline-width: 2px;
}
.rentTable tr.seperator td::before {
  content: "";
  display: block;
  width: 100%;
  border-top: 2px dashed;
  border-color: inherit;
}
.rentTable tr.seperator:first-child td {
  padding-top: 0;
}
.rentTable tr.seperator:first-child td::before {
  border-top-style: solid;
}
.rentTable thead th,
.rentTable thead td {
  padding-inline: calc(var(--gapWithinPair));
  background: var(--contentBackground1);
}
.rentTable thead th:nth-child(1), .rentTable thead th:nth-child(2),
.rentTable thead td:nth-child(1),
.rentTable thead td:nth-child(2) {
  font-weight: 500;
}
.rentTable tbody th:nth-child(1) {
  font-weight: 600;
  font-size: 1.2em;
}
.rentTable tbody th:nth-child(6) {
  padding-block: 0;
  vertical-align: top;
}
.rentTable tbody th:nth-child(6) > span {
  display: block;
  font-weight: 400;
  font-style: italic;
  text-align: start;
  line-height: 1.2em;
}
.rentTable tbody td:nth-child(3) {
  border-left: 2px solid var(--contentBorder1);
}
.rentTable tbody td:nth-child(5) {
  border-right: 2px solid var(--contentBorder1);
}
.rentTable tbody th,
.rentTable tbody td {
  padding-block: calc(var(--gapPair) / 2);
}
.rentTable .house {
  background: var(--contentBackground3);
}
.rentTable a {
  display: inline;
  position: relative;
  text-decoration: none;
  background: linear-gradient(90deg, var(--underlineColor1, currentColor), var(--underlineColor2, currentColor)) 100% 100%/0% 2px no-repeat;
  transition: background-size 0.2s;
  --underlineColor2: var(--menuHoverTextColor2);
  color: inherit;
}
.rentTable a:hover, .rentTable a:focus-visible {
  background-size: 100% 2px;
  background-position: 0% 100%;
  background-image: linear-gradient(90deg, var(--underlineHoverColor1, var(--underlineColor1, currentColor)), var(--underlineHoverColor2, var(--underlineColor2, currentColor)));
}
.rentTable a:focus-visible {
  outline: 2px dotted currentColor;
}
@media (any-hover: none) {
  .rentTable a {
    text-decoration: underline;
    background: none !important;
  }
}
@media (max-width: 32rem) {
  .rentTable tbody th:nth-child(6) {
    width: calc(var(--gapWithinPair) + 1.2em);
  }
  .rentTable tbody th:nth-child(6) > span {
    writing-mode: vertical-rl;
  }
}/*# sourceMappingURL=style.css.map */