@use 'resources' as *;
@use 'icons.scss' as *;
@use 'sass:color';
@use 'sass:math';

body {
	// overflow-x: clip;

	display: grid;
	grid-template:
		0 // For the scroll anchor
		min-content
		1fr
		max-content
		// min-content
		/ 100%;
	grid-auto-flow: column;

	position: relative;

	background: var(--contentBackdropBackground1);

	&::before {
		content: '';

		user-select: none;
		pointer-events: none;

		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

		width: 100%;
		height: 100%;

		// background-color: var(--contentBackdropBackground2);

		background-image: url('/EndingProject-INIT-Year1/img/backgroundPattern.svg');
		@include colorFilter(hsl(120, 14.5%, 17.1%));
		// -webkit-mask-image: url('/EndingProject-INIT-Year1/img/backgroundPattern.svg');
		// mask-image: url('/EndingProject-INIT-Year1/img/backgroundPattern.svg');
	}
}

.skipNav {
	position: fixed;
	left: -10000px;
	z-index: 100;

	&:focus-within {
		display: flex;
		flex-flow: column nowrap;
		gap: var(--gapWithinPair);

		left: 0;
		top: 0;

		padding: var(--containerPadding-medium) var(--containerPadding-fieldset);
		border: 0 solid var(--focusColor1);
		border-right-width: 2px;
		border-bottom-width: 2px;
		border-bottom-right-radius: 0.4rem;
		outline: 3px solid var(--focusColor2);

		background: var(--contentBackground1);
	}
}

.coverImage {
	display: block;

	position: relative;
	z-index: 4;

	width: 100%;
	height: 25rem;

	object-fit: cover;
	object-position: center;

	box-shadow: 0 0 1rem var(--shadowColor);
}

$logoWidthSmall: 15rem;
$logoWidthLarge: 20rem;
@keyframes logoEnlarge {
	0% {
		$scale: calc(noUnit($logoWidthSmall) / noUnit($logoWidthLarge));
		transform: translateY(calc(var(--containerPadding-fieldset) * -1))
			scale($scale);

		border-width: calc(2px / #{$scale});
	}
	100% {
		transform: translateY(0) scale(1);

		border-width: 2px;
	}
}
@keyframes logoShrink {
	0% {
		$scale: calc(noUnit($logoWidthLarge) / noUnit($logoWidthSmall));
		transform: translateY(var(--containerPadding-fieldset)) scale($scale);

		border-width: calc(2px / #{$scale});
	}
	100% {
		transform: translateY(0) scale(1);

		border-width: 2px;
	}
}
@keyframes menuEnlarge {
	0% {
		transform: translateX(calc(($logoWidthLarge - $logoWidthSmall) * -1));
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes menuShrink {
	0% {
		transform: translateX(calc($logoWidthLarge - $logoWidthSmall));
	}
	100% {
		transform: translateX(0);
	}
}
header {
	--shortDuration: 0.2s;
	--duration: 0.3s;
	--width: #{$logoWidthLarge};
	--paddingInline: var(--containerPadding-page);

	display: flex;
	flex-flow: column-reverse nowrap;
	align-items: flex-start;
	gap: var(--gapPair);

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;

	// width: 100%;
	padding: var(--paddingInline) var(--containerPadding-page);

	background-color: transparent;

	transition: none linear var(--shortDuration);

	.logo {
		transform-origin: top left;

		a:focus-visible {
			outline: none;
		}
	}

	.menu {
		overflow-x: auto;
		overscroll-behavior-x: contain;

		max-width: 100%;

		& > ul {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			gap: var(--gapPair);

			width: max-content;
			margin: 0;
			padding: 0 var(--containerPadding-page);

			li {
				margin: 0;
				white-space: nowrap;

				list-style-type: none;

				a {
					@include fancyLink;

					--underlineColor1: var(--menuTextColor1);
					--underlineColor2: var(--menuTextColor1);

					display: block;

					font-size: 1.2rem;
					line-height: 2.75rem;
					text-decoration: none !important;

					color: var(--menuTextColor1);

					span {
						vertical-align: middle;
					}
					.icon {
						@include iconOutlined;
						font-size: var(--md-medium);
					}

					&[aria-current] {
						color: var(--menuColorColor2);
					}

					&:hover,
					&:focus-visible {
						--underlineColor1: var(--menuHoverTextColor1);
						--underlineColor2: var(--menuHoverTextColor2);

						color: var(--menuHoverTextColor1);
					}
				}
			}

			@media (pointer: fine) {
				padding-block: 0.5rem;

				li {
					a {
						font-size: 1rem;
						line-height: 1.2rem;

						.icon {
							font-size: var(--md-medium);
						}
					}
				}
			}
		}
	}

	.logo,
	.menu {
		border: 2px solid var(--menuBorder1);
		border-radius: 0.4rem;

		background: var(--menuBackground1);

		transition: none linear var(--shortDuration);

		&:focus-within {
			border-color: var(--focusColor2);
		}
	}

	:root:not(.scrolling) & {
		// transition-property: background-color;
		.logo,
		.menu {
			transition-property: background-color, border-color;
		}
	}
	:root.scrolling & {
		--width: #{$logoWidthSmall};
		flex-direction: row;

		background-color: var(--menuBackground1);
		box-shadow: 0 0 1rem var(--shadowColor);

		transition-property: background-color;

		.logo,
		.menu {
			border-color: transparent;
			background: none;

			transition-property: background-color, border-color;

			&:focus-within {
				outline: 2px solid var(--focusColor2);
			}
		}

		.logo {
			top: 0;
			margin-block: calc(var(--containerPadding-fieldset) * -1);
			align-self: center;
		}
	}

	@media (max-width: 19rem) {
		--width: 12rem;

		:root.scrolling & {
			--width: 8rem;
			.logo {
				display: none;
			}
		}
	}
	@media (max-width: 30rem) {
		--paddingInline: var(--containerPadding-medium);
		padding: var(--containerPadding-medium);

		// :root:not(.scrolling) {
		// }
		:root.scrolling & {
			padding-bottom: 0;
		}
	}

	$logoSmallWidthSmall: 8rem;
	$logoSmallWidthLarge: 15rem;
	--logoSmallWidth: calc(
		((#{$logoSmallWidthSmall} - 0.5rem - 0.5rem * 2) * var(--goldenRatio)) /
			(1 + var(--goldenRatio))
	);
	@keyframes logoSmallEnlarge {
		0% {
			$scale: calc(
				noUnit($logoSmallWidthSmall) / noUnit($logoSmallWidthLarge)
			);
			transform: scale($scale);

			border-width: calc(2px / #{$scale});
		}
		100% {
			transform: scale(1);

			border-width: 2px;
		}
	}
	@keyframes logoSmallShrink {
		0% {
			$scale: calc(
				noUnit($logoSmallWidthLarge) / noUnit($logoSmallWidthSmall)
			);
			transform: scale($scale);

			border-width: calc(2px / #{$scale});
		}
		100% {
			transform: scale(1);

			border-width: 2px;
		}
	}
	@keyframes menuSmallEnlarge {
		0% {
			transform: translateX(
				calc(
					var(--logoSmallWidth) + var(--gapPair) +
						var(--paddingInline)
				)
			);
		}
		100% {
			transform: translateX(0);
		}
	}
	@keyframes menuSmallShrink {
		0% {
			transform: translateX(
				calc(
					(
							var(--logoSmallWidth) + var(--gapPair) +
								var(--paddingInline)
						) * -1
				)
			);
		}
		100% {
			transform: translateX(0);
		}
	}

	@media (max-width: 60rem) and (min-width: 19rem) {
		:root:not(.scrolling) & {
			.logo {
				transform-origin: top left;

				animation: logoSmallEnlarge ease var(--duration);
			}
			.menu {
				animation: menuSmallEnlarge ease var(--duration);
			}
		}

		:root.scrolling & {
			.logo {
				transform-origin: center left;

				animation: logoSmallShrink ease var(--duration);
			}
			.menu {
				animation: menuSmallShrink ease var(--duration);
			}
		}
	}
	@media (max-width: 60rem) {
		--width: #{$logoSmallWidthLarge};
		// .logo,
		// .menu {
		// }

		.logo {
			img {
				transition: none ease var(--duration);
				// transition-property: width;
			}
			.name {
				transition: none ease var(--duration);
				// transition-property: font-size;
			}
		}
		.menu {
			ul {
				transition: none ease var(--duration);
				transition-property: padding;

				padding-inline: var(--containerPadding-medium);
			}
		}

		:root.scrolling & {
			--width: #{$logoSmallWidthSmall};

			padding-inline: 0;

			.logo {
				// animation: logoShrink ease var(--duration);
				transition-property: none;
				.name {
					display: none;
				}
			}
			.menu {
				// animation: menuShrink ease var(--duration);
				align-self: stretch;

				ul {
					padding-inline: 0;
					// padding-bottom: 0;
				}
			}
		}
	}
	@media (min-width: 60rem) {
		flex-direction: row;

		:root:not(.scrolling) & {
			.logo {
				animation: logoEnlarge ease var(--duration);
			}
			.menu {
				animation: menuEnlarge ease var(--duration);
			}
		}

		:root.scrolling & {
			.logo {
				animation: logoShrink ease var(--duration);
			}
			.menu {
				animation: menuShrink ease var(--duration);
			}
		}
	}
}

main {
	justify-self: center;

	position: relative;
	z-index: 2;

	max-width: 100%;

	background: var(--contentBackground2);
	box-shadow: 0 0 1rem var(--shadowColor);

	& > .breadcrumbs {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		gap: var(--gapPair);

		padding: var(--gapWithinPair) var(--containerPadding-page);

		border-bottom: 2px solid var(--contentBorder1);

		background: var(--headerBackground1);

		h1 {
			margin: 0;

			font-size: 1.1rem;
			font-weight: 400;

			color: var(--textColor);
		}

		ol {
			display: flex;
			flex-flow: row wrap;
			align-items: stretch;
			gap: calc(var(--gapWithinPair) / 2 - (var(--md-large) / 2));

			list-style-type: none;

			margin: 0;
			padding: 0;

			li {
				display: flex;
				flex-flow: row nowrap;
				gap: calc(var(--gapWithinPair) / 2 - (var(--md-large) / 2));
				align-items: center;

				margin: 0;

				font-size: 1.3rem;

				&::before {
					content: 'navigate_next';

					@include icon;
					font-size: calc(var(--md-large));

					color: var(--mdColor1);
				}

				& > a {
					@include fancyLink;

					color: var(--textGrayColor);

					&:hover,
					&:focus-visible {
						--underlineColor1: var(--linkHover1);
						--underlineColor2: var(--linkHover2);

						color: var(--linkHover1);
					}

					&[aria-current] {
						--underlineColor1: var(--menuHoverTextColor1);
						--underlineColor2: var(--menuHoverTextColor2);

						text-decoration: none !important;
						font-style: italic;
						// font-weight: 600;

						color: var(--textBoldColor);
					}
				}

				&:first-child {
					&::before {
						content: none;
					}
				}
			}

			@media (pointer: fine) {
				gap: calc(var(--gapWithinPair) / 2 - (var(--md-medium) / 2));

				li {
					gap: calc(
						var(--gapWithinPair) / 2 - (var(--md-medium) / 2)
					);

					font-size: 1.1rem;

					&::before {
						font-size: var(--md-medium);
					}
				}
			}
		}
	}

	& > :nth-child(2) {
		max-width: 100%;
		padding-block: var(--gapSection2);
		padding-inline: var(--containerPadding-main);

		h1 {
			margin-top: 0;
		}

		&.leftNavMenu {
			// display: grid;
			// grid-template:
			// 	'sidebar' '.' max-content
			// 	/ auto 1fr;
			display: flex;
			flex-flow: row wrap;

			padding-top: 0;
			// padding-left: 0;

			.pageNav {
				grid-area: sidebar;
				margin-left: calc(var(--containerPadding-main) * -1);
			}

			& > :nth-child(2) {
				margin-top: var(--gapSection2);

				max-width: 100%;
			}
		}
	}
}

footer {
	display: flex;
	flex-flow: row wrap;
	gap: var(--gapSection1);
	justify-content: center;

	justify-self: stretch;

	position: relative;
	z-index: 3;

	box-sizing: border-box;
	width: 100%;
	// padding: var(--containerPadding-medium);

	background: var(--headerSecondaryBackground1);
	box-shadow: 0 0 3rem var(--shadowColor);

	.info {
		padding-block: var(--gapPair);

		address {
			font-style: normal;
		}
		ul {
			padding: 0;
			margin: 0;

			li {
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				gap: var(--gapWithinSubPair);

				margin: 0;
			}
		}
		&,
		ul {
			display: flex;
			flex-flow: column nowrap;
			gap: var(--gapWithinPair);
		}

		.login,
		.place,
		.contact {
			&::before {
				@include iconOutlined;
				font-size: var(--md-small);

				color: var(--textGrayColor);
			}
		}

		.login::before {
			content: 'login';
		}
		.place::before {
			content: 'place';
		}
		.contact::before {
			content: 'mail';
		}
	}
	.logo {
		--width: min(max(30vw, 16rem), 25rem, 100vw);
	}
}
