@use 'resources' as *;
@use 'icons.scss' as *;
@use 'sass:color';
@use 'sass:math';

body {
	// overflow-x: clip;

	display: grid;
	grid-template:
		0 // For the scroll anchor
		min-content
		1fr
		max-content
		// min-content
		/ 100%;
	grid-auto-flow: column;

	position: relative;

	background: var(--contentBackdropBackground1);

	&::before {
		content: '';

		user-select: none;
		pointer-events: none;

		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

		width: 100%;
		height: 100%;

		background-color: var(--contentBackdropBackground2);

		-webkit-mask-image: url('/EndingProject-INIT-Year1/img/backgroundPattern.svg');
		mask-image: url('/EndingProject-INIT-Year1/img/backgroundPattern.svg');
	}
}

.coverImage {
	display: block;

	position: relative;
	z-index: 4;

	width: 100%;
	height: 25rem;

	object-fit: cover;
	object-position: center;

	box-shadow: 0 0 1rem var(--shadowColor);
}

$logoWidthSmall: 15rem;
$logoWidthLarge: 20rem;
@keyframes logoEnlarge {
	0% {
		transform: translateY(calc(var(--containerPadding-fieldset) * -1))
			scale(calc(noUnit($logoWidthSmall) / noUnit($logoWidthLarge)));
	}
	100% {
		transform: translateY(0) scale(1);
	}
}
@keyframes logoShrink {
	0% {
		transform: translateY(var(--containerPadding-fieldset))
			scale(calc(noUnit($logoWidthLarge) / noUnit($logoWidthSmall)));
	}
	100% {
		transform: translateY(0) scale(1);
	}
}
@keyframes menuEnlarge {
	0% {
		transform: translateX(calc(($logoWidthLarge - $logoWidthSmall) * -1));
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes menuShrink {
	0% {
		transform: translateX(calc($logoWidthLarge - $logoWidthSmall));
	}
	100% {
		transform: translateX(0);
	}
}
header {
	--shortDuration: 0.2s;
	--duration: 0.3s;
	--width: #{$logoWidthLarge};

	display: flex;
	flex-flow: column-reverse nowrap;
	align-items: flex-start;
	gap: var(--gapPair);

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;

	// width: 100%;
	padding: var(--containerPadding-page);

	background-color: transparent;

	transition: none linear var(--shortDuration);

	.logo {
		transform-origin: top left;
	}

	.menu {
		overflow-x: auto;
		overscroll-behavior-x: contain;

		& > ul {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			gap: var(--gapPair);

			width: max-content;
			margin: 0;
			padding: 0.5rem var(--containerPadding-page);

			li {
				margin: 0;
				white-space: nowrap;

				list-style-type: none;

				a {
					@include fancyLink;

					--underlineColor1: var(--menuTextColor1);
					--underlineColor2: var(--menuTextColor1);

					display: block;

					font-size: 2rem;
					text-decoration: none !important;

					color: var(--menuTextColor1);

					span {
						vertical-align: middle;
					}
					.icon {
						font-family: 'Material Icons Outlined';
						font-size: var(--md-large);
					}

					&[aria-current] {
						color: var(--menuColorColor2);
					}

					&:hover,
					&:focus-visible {
						--underlineColor1: var(--menuHoverTextColor1);
						--underlineColor2: var(--menuHoverTextColor2);

						color: var(--menuHoverTextColor1);
					}

					@media (pointer: fine) {
						font-size: 1rem;

						.icon {
							font-size: var(--md-medium);
						}
					}
				}
			}
		}
	}

	.logo,
	.menu {
		border: 2px solid var(--menuBorder1);
		border-radius: 0.4rem;

		background: var(--menuBackground1);

		transition: none linear var(--shortDuration);
	}

	:root:not(.scrolling) & {
		.logo,
		.menu {
			transition-property: background-color, border-color;
		}
	}
	:root.scrolling & {
		--width: #{$logoWidthSmall};
		// align-items: center;

		// padding-block: var(--containerPadding-main);

		background-color: var(--menuBackground1);
		box-shadow: 0 0 1rem var(--shadowColor);

		transition-property: background-color;

		.logo,
		.menu {
			border: none;
			border-color: transparent;
			background: none;
		}

		.logo {
			top: 0;
			margin-block: calc(var(--containerPadding-fieldset) * -1);

			// transform: scale(
			// 	calc(noUnit($logoWidthLarge) / noUnit($logoWidthSmall))
			// );
			// transform: scale(calc(var(--largeWidth) / var(--smallWidth)));
			// --test: 2;
			// transform: scale(var(--test));
		}

		// .menu {
		// 	padding-block: calc(0.5rem + 2px);
		// }

		// .logo {
		// 	--width: 12rem;
		// }
	}

	@media (max-width: 60rem) {
		--width: 15rem;
		// .logo,
		// .menu {
		// }
		.logo {
			img {
				transition: none ease var(--duration);
				transition-property: width;
			}
			.name {
				transition: none ease var(--duration);
				transition-property: font-size;
			}
		}
		.menu {
			align-self: stretch;
			ul {
				transition: none ease var(--duration);
				transition-property: padding;
			}
		}

		:root.scrolling & {
			--width: 8rem;

			.logo {
				.name {
					display: none;
				}
			}
			.menu {
				ul {
					padding-inline: 0;
				}
			}
		}
	}
	@media (min-width: 66rem) {
		flex-direction: row;

		:root:not(.scrolling) & {
			.logo {
				animation: logoEnlarge ease var(--duration);
			}
			.menu {
				animation: menuEnlarge ease var(--duration);
			}
		}

		:root.scrolling & {
			.logo {
				animation: logoShrink ease var(--duration);
			}
			.menu {
				animation: menuShrink ease var(--duration);
			}
		}
	}
	@media (max-width: 19rem) {
		--width: 12rem;

		:root.scrolling & {
			--width: 8rem;
			.logo {
				display: none;
			}
		}
	}
}

main {
	// overflow: hidden;
	// width: 10px !important;
	// * {
	// 	display: none;
	// }

	justify-self: center;

	position: relative;
	z-index: 2;

	// min-width: min-content;
	max-width: 100%;
	// margin-inline: auto;
	padding-block: var(--gapSection2);
	padding-inline: var(--containerPadding-main);

	background: var(--contentBackground2);
	box-shadow: 0 0 1rem var(--shadowColor);

	h1 {
		margin-top: 0;
	}

	&.leftNavMenu {
		// display: grid;
		// grid-template:
		// 	'sidebar' '.' max-content
		// 	/ auto 1fr;
		display: flex;
		flex-flow: row wrap;

		padding-top: 0;
		// padding-left: 0;

		.pageNav {
			grid-area: sidebar;
			margin-left: calc(var(--containerPadding-main) * -1);
		}

		& > :nth-child(2) {
			margin-top: var(--gapSection2);

			max-width: 100%;
		}
	}
}

footer {
	display: flex;
	flex-flow: row wrap;
	gap: var(--gapSection1);
	justify-content: center;

	justify-self: stretch;

	position: relative;
	z-index: 3;

	box-sizing: border-box;
	width: 100%;
	// padding: var(--containerPadding-medium);

	background: var(--headerSecondaryBackground1);
	box-shadow: 0 0 3rem var(--shadowColor);

	.info {
		padding-block: var(--gapPair);

		address {
			font-style: normal;
		}
		ul {
			padding: 0;
			margin: 0;

			li {
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				gap: var(--gapWithinSubPair);

				margin: 0;
			}
		}
		&,
		ul {
			display: flex;
			flex-flow: column nowrap;
			gap: var(--gapWithinPair);
		}

		.login,
		.place,
		.contact {
			&::before {
				font-family: 'Material Icons Outlined';
				font-size: var(--md-small);

				color: var(--textGrayColor);
			}
		}

		.login::before {
			content: 'login';
		}
		.place::before {
			content: 'place';
		}
		.contact::before {
			content: 'mail';
		}
	}
	.logo {
		--width: min(max(30vw, 16rem), 25rem, 100vw);
	}
}
