@use 'resources' as *;

@import url('/EndingProject-INIT-Year1/css/icons.css');
@import url('/EndingProject-INIT-Year1/css/theme.css');
@import url('/EndingProject-INIT-Year1/css/definitions.css');
@import url('/EndingProject-INIT-Year1/css/input.css');
@import url('/EndingProject-INIT-Year1/css/document.css');

:root {
	--goldenRatio: 1.61803398875;

	margin: 0;
	padding: 0;
	min-height: 100vh;

	&.noAnim {
		* {
			animation-duration: 0s !important;
			transition-duration: 0s !important;
		}
	}
}

body {
	margin: 0;
	padding: 0.01px;

	font-family: 'Noto Sans Display', Arial, sans-serif;

	color: var(--textColor);

	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--titleTextColor);
}

p {
	margin-block: var(--gapPair);
	max-width: var(--paragraphWidth-medium);
}

.paragraph-thin {
	max-width: var(--paragraphMinWidth-thin);
}
.paragraph-medium {
	max-width: var(--paragraphMinWidth-medium);
}
.paragraph-wide {
	max-width: var(--paragraphMinWidth-wide);
}

:focus-visible {
	outline: 2px dotted var(--focusColor1);
	position: relative;
	z-index: 100;
}

.fancyLink {
	--underlineColor1: var(--linkNormal);
	--underlineColor2: var(--linkVisited);
	--underlineHoverColor1: var(--linkHover1);
	--underlineHoverColor2: var(--linkHover2);
	display: inline;
	position: relative;
	text-decoration: none;
	background: linear-gradient(
			90deg,
			var(--underlineColor1),
			var(--underlineColor2)
		)
		100% 100%/0% 2px no-repeat;
	transition: background-size 0.2s;
}
.fancyLink[target='_blank']::after {
	content: 'open_in_new';
	font-size: 0.9em;
	font-family: 'Material Icons Outlined';
	vertical-align: text-top;
}
.fancyLink.noUnderline {
	background-image: linear-gradient(
			90deg,
			var(--underlineColor1),
			var(--underlineColor2)
		),
		linear-gradient(transparent, transparent);
}
.fancyLink.noColor {
	--underlineColor1: currentColor;
	--underlineColor2: currentColor;
	--underlineHoverColor1: currentColor;
	--underlineHoverColor2: currentColor;
}

a {
	color: var(--linkNormal);
}

a:visited {
	color: var(--linkVisited);
}

.fancyLink:hover,
.fancyLink:focus-visible {
	background-size: 100% 2px, 100% 2px;
	background-position: 0% 100%, 0% 100%;
	background-image: linear-gradient(
			90deg,
			var(--underlineHoverColor1),
			var(--underlineHoverColor2)
		),
		linear-gradient(transparent, transparent);
}
.fancyLink:hover.noUnderline,
.fancyLink:focus-visible.noUnderline {
	background-image: linear-gradient(
			90deg,
			var(--underlineHoverColor1),
			var(--underlineHoverColor2)
		),
		linear-gradient(transparent, transparent);
}

a:hover,
a:focus-visible {
	color: var(--linkHover1);
}

.fancyLink:focus-visible:not(.noColor) {
	outline: 2px dotted currentColor;
}

.noLink:link {
	color: unset;
	background: unset;
	background-position: 0 0;
	background-size: 0 0;
}

.noUnderline {
	text-decoration: none;
}

a.documentLink:link {
	color: var(--documentColor1);
}
a.documentLink:visited {
	color: var(--documentVisitedColor1);
}
a.documentLink:hover,
a.documentLink:focus-visible {
	color: var(--documentHoverColor1);
}
a.documentLink.fancyLink {
	--underlineColor1: var(--documentColor1);
	--underlineColor2: var(--documentVisitedColor1);
	--underlineHoverColor1: var(--documentHoverColor1);
	--underlineHoverColor2: var(--documentHoverColor2);
}

.asideContent {
	float: right;

	margin-left: 2rem;
	padding-inline: 0.6rem;
	padding-block: 0.4rem;

	border-left: 2px solid var(--coloredTitleTextColor1);

	background-color: var(--contentBackground3);

	h1,
	h2,
	h3,
	h4,
	h5,
	h5 {
		margin-top: 0;

		font-size: 1.4rem;
	}
}

.withAsideColumn {
	// display: grid;
	// grid-template:
	// 	'. aside' auto
	// 	/ 1fr auto;
	// grid-auto-flow: row;
	display: flex;
	flex-flow: row wrap;
	gap: var(--gapSection1);

	// .aside {
	// 	grid-area: aside;
	// }
}

.scrollDetector {
	width: 100%;
	height: 0;
}

.fancyFigure {
	width: min-content;
	margin: 0;
	margin-block: var(--gapPair);

	.figBorder {
		overflow: hidden;

		width: max-content;

		border: 2px solid var(--contentBorder1);
		border-radius: 6px;

		background: var(--contentBackground1);
	}

	figcaption {
		max-width: 100%;
		margin-top: var(--gapWithinPair);

		font-size: 0.9em;
		text-align: center;

		color: var(--textGrayColor);
	}

	&.left {
		float: left;
	}
	&.right {
		float: right;
	}
}

.blackLineArt {
	filter: invert(100%);
}

.logo {
	--partWidth: calc(var(--width) - 0.5rem - 0.5rem * 2);

	a {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		gap: 0.5rem;

		// top: 0;

		padding: 0.5rem;
		// margin-top: 1rem;

		text-decoration: none;

		img {
			--subwidth: calc(
				(var(--partWidth) * var(--goldenRatio)) /
					(1 + var(--goldenRatio))
			);

			filter: invert(1);

			width: var(--subwidth);
			height: auto;
			aspect-ratio: 29 / 18;
			// aspect-ratio: 3 / 5;
		}
		.name {
			--factor: 0.281690140845; // Magic constant that you multiply with your desired width, which gives you the appropriate font size to set.
			--subwidth: calc(var(--partWidth) / (1 + var(--goldenRatio)));

			font-size: calc(var(--subwidth) * var(--factor));
			font-family: 'EB Garamond', 'Times New Roman', serif;
			font-style: italic;
			font-weight: 400;

			color: var(--titleTextColor);
		}
	}
}
